azure_arch_20_08_2025.zip
azure_env/bin/python
azure_env/bin/pip
azure_env/bin/activate
azure_env/lib/python3.8/site-packages/
azure_env/lib/python3.8/site-packages/pip/
azure_env/lib/python3.8/site-packages/setuptools/
azure_env/lib/python3.8/site-packages/wheel/
azure_env/lib/python3.8/site-packages/__pycache__/
azure_env/include/
azure_env/pyvenv.cfg
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.vscode/
.ipynb_checkpoints/
azure_env/bin/*
azure_env/lib/python3.12/site-packages/*
azure_extraction_env/*
azure_env/*
azure_diagrams/*
azure_diagrams_png/*.png
azure_diagrams_enhanced/*.html
azure_arch/*
*.json
